{% extends 'base.html' %}

{% block title %}Delete Owner - UzCars EV{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Delete Owner</h1>
</div>

<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ object.first_name }} {{ object.last_name }}"?</p>
            <button type="submit" class="btn btn-danger">Yes, delete</button>
            <a href="{% url 'owner_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
