{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if form.instance.pk %}Edit Service{% else %}Add New Service{% endif %} - UzCars EV
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{% if form.instance.pk %}Edit Service{% else %}Add New Service{% endif %}</h1>
</div>

<div class="card">
    <div class="card-body">
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    {{ form.car|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.service_type|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form.service_date|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.service_cost|as_crispy_field }}
                </div>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="{% url 'service_list' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
